

    .hero-content {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        text-align: center;
        width: 100%;
    }

    .hero-content h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 2px;
        text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
    }

    .hero-button {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        font-size: 0.9rem;
        letter-spacing: 1px;
        text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
    }

    /* Styles du Header */
    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 20px 40px;
        box-sizing: border-box;
        transition: padding 0.4s ease, background-color 0.4s ease;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-links-left, .nav-links-right {
        display: flex;
        align-items: center;
    }


    .nav-links-right {
        justify-content: flex-end;
    }


    .main-nav a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        transition: color 0.4s ease;
        text-shadow: none;
    }

    .main-nav a {
        position: relative;
    }

    .nav-links-left a::after,
    .nav-links-right a::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 50%;
        width: 70%;
        height: 2px;
        background-image: linear-gradient(to right, #009246 33.3%, #333333 33.3%, #333333 66.6%, #ce2b37 66.6%);
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.4s ease-in-out;
    }

    .nav-links-left a:hover::after,
    .nav-links-right a:hover::after,
    .nav-links-left a.active-link::after,
    .nav-links-right a.active-link::after {
        transform: translateX(-50%) scaleX(1);
    }

    .nav-logo a {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 400; 
        letter-spacing: 2px;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 8px;
        background-image: linear-gradient(to right, #009246 33.3%, #FFFFFF 33.3%, #FFFFFF 66.6%, #CE2B37 66.6%);
        background-repeat: no-repeat;
        background-size: 80% 1px;
        background-position: bottom center;
        transition: color 0.4s ease;
    }

    .main-header.scrolled {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .main-header.scrolled .main-nav a {
        color: #000000;
    }

    .main-header.scrolled .nav-logo a {
        color: #000000;
        background-image: linear-gradient(to right, #009246 33.3%, #333 33.3%, #333 66.6%, #CE2B37 66.6%);
    }

    .nav-links-left a, .nav-links-right a {
        font-family: 'amorie_modella_bold', sans-serif;
        font-weight: normal;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    .section-title {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 80px;
        color: #333;
    }

    .section-title::before,
    .section-title::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid; 
    }

    .section-title::before {
        margin-right: 2em;
        border-bottom-color: #009246; 
    }

    .section-title::after {
        margin-left: 2em;
        border-bottom-color: #CE2B37; 
    }

    .main-nav a.cart-icon {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .cart-counter {
        display: none; 
    }

    .cart-icon.has-items .cart-counter {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #CE2B37;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border: 1px solid #fff;
    }

    .cart-icon svg {
        transition: stroke 0.4s ease;
    }

    .main-header.scrolled .cart-icon svg {
        stroke: #000000;
    }

    .main-header.scrolled .cart-icon.has-items .cart-counter {
        border-color: #000;
    }
